<html>

<title>Admin panel</title>

<body>
    <div style="text-align:center">


        <br>
        <p>Admin panel</p>
        <br>
        <form method="post" action="/command">
            <input type="text" placeholder="Enter command here" name="command" style="width: 500px; margin: 0 auto" autocomplete="off" id="username" required />
            <br>
            <br>
            <button type="submit">Apply</button>
        </form>

        <br>
        <br>
        <br>

        <p>clr: clear snake array</p>

    </div>
</body>

</html>