<html>

<title>Multiplayer Snake</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/4821aab660.js"></script>

<head>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h2>Pour augmenter votre score soyer rapide et manger le plus possible et surtout le plus vite possible avant que
        les autres dévorent tout!!</h2>

    <div id="snakeName" hidden="hidden"><%=snakeName%></div>

    <script type="text/javascript" src="snake.js"></script>
</body>

</html>